@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .bidder-registration {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #1a1d1e, #aeb6b8, #525152, #151616);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
  }
  
  .registration-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color: rgb(101, 102, 96);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: auto; /* Allow height to adjust based on content */
  }
  
  .registration-page input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #55790f;
    border-radius: 20px;
  }
  
  .registration-page button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .back-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  