@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Homepage {
  background: linear-gradient(-45deg, #1a1d1e, #aeb6b8, #525152, #151616);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

nav {
  position: absolute;
  top: 10px;
  right: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 100px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a[data-tooltip] {
  position: relative;
}

nav ul li a[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(32, 41, 20, 0.833);
  color: white;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 1000;
  white-space: nowrap;
  font-size: 1.1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul li a[data-tooltip]:hover::after {
  opacity: 1;
  transform: translateX(-50%) scale(1.1);
}

nav ul li a[data-tooltip]::after {
  content: attr(data-tooltip);
  width: 300px;
  white-space: normal;
  line-height: 1.4;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li a[data-tooltip]:hover::after {
  opacity: 1;
}

nav ul li a[data-tooltip="Home"],
nav ul li a[data-tooltip="About"],
nav ul li a[data-tooltip="Contact"] {
  transition: all 0.3s ease;
}

nav ul li a[data-tooltip="Home"]:hover,
nav ul li a[data-tooltip="About"]:hover,
nav ul li a[data-tooltip="Contact"]:hover {
  transform: scale(1.2);
  padding: 15px 20px;
  background-color: #282b11;
  border-radius: 20px;
}

.choose-role-btn {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.10rem;
  font-weight: 400;
  color: #ffffff;
  background-color: rgba(19, 52, 8, 0.2);
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.choose-role-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
